h1,
h2 {
  text-align: center;
}
footer {
  position: fixed;
  bottom: 0;
  height: 40px;
  margin-top: 40px;
  margin-left: 650px;
}
input {
  margin: 10px;
}
table {
  border: 10px tomato solid;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
